/* HERO Section */

.sec1{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:60px;
    min-height:100vh;
    padding:40px 4%;
}

.sec1-1{
    margin-left: 100px;
}
.sec1-1 img{
    width: 400px;
    border-radius: 50%;
   
}
.sec-1-1 img{
    width:330px;
    height:330px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid darkorange;
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}


.sec1-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.sec1-2-1{
    font-weight: 600;
}


h1{
  font-size: 50px;
  color: darkorange;
}


.sec1-2-2{
    font-weight: 600;
    font-size: 22px;
}


p{
    font-size: 18px;
    width: 80%;
}


.btns{
    display: flex;
    gap:25px;

}

.btns >:nth-child(1){
  padding:12px 24px;
  background-color: black;
  color : white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btns >:nth-child(1):hover{
    background-color: darkorange;
    color: white;
    border-color: darkorange;
}
.btns >:nth-child(2){
    padding:12px 24px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .btns >:nth-child(2):hover{
    background-color: darkorange;
    color: white;
    border-color: darkorange;
}



.social{
    display: flex;
    gap: 20px;
}
.social img{
    width: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.social img:hover{
    transform:translateY(-5px);
}



@media(max-width:1024px){
    .sec1{
        flex-direction: column;
        justify-content:center;
        align-items:center;
        text-align:center;
        min-height:auto;
        height:auto;
        gap:40px;
        padding:80px 40px 5cm;
    }

    .sec1-1 img{
        width:280px;
    }

    p{
        max-width : 650px;
        width: 100%;
    }
    .sec1-2{
        align-items: center;
        gap: 15px;
    }

    .btns{
        padding:12px 24px;
    }
}

@media(max-width:768px){
    .sec1{
        flex-direction: column;
        justify-content:center;
        align-items:center;
        text-align:center;
        min-height:auto;
        height:auto;
        gap:40px;
        padding:100px 40px 60px;
    }

    .sec1-1 img{
        width:240px;
    }

    h1{
        font-size:42px;
    }

    .sec1-2-2{
        font-size:20px;
    }

    p{
        width:100%;
        font-size:16px;
    }

    .btns button{
        width:220px;
        text-align:center;
    }
}
